<nav
	class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
	<button class="navbar-toggler navbar-toggler-right" type="button"
		data-toggle="collapse" data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" th:href="@{/home}">ArctiSys Trader</a>
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" th:href="@{/home}">Hem
					<span class="sr-only">(current)</span>
				</a>
			</li>
		</ul>
		<ul class="navbar-nav vabra-right">
			<li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" th:href="@{/login}">Logga in</a></li>
			
			<li sec:authorize="isAuthenticated()" class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle" href="http://example.com"
					id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<strong th:inline="text">[[${#httpServletRequest.remoteUser}]]</strong>
				</a>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
					<a sec:authorize="hasAuthority('USER')" class="dropdown-item" th:href="@{/user/mystocks}">Mina sidor</a>
					<a sec:authorize="hasAuthority('ADMIN')" class="dropdown-item" th:href="@{/admin/start}">Administration</a>
					<a class="dropdown-item" th:href="@{/logout}">Logga ut</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
<div class="jumbotron">
	<div class="container">
		<h1 class="display-1">ArctiSys Trader</h1>
		<p>Välkommen bästa användare. Hoppas du gillar detta system!</p>
	</div>
</div>
