<div id="header" class="cf" role="banner">
	<div id="skip">
		<a href="#content-primary">Hoppa till innehåll</a>
	</div>
	<div id="logo">
		<a src="#"><img src="/im/img/arctisys60.jpg" th:src="@{/img/arctisys60.jpg}" alt="Arctisys Trader" /></a>
	</div>
	<div class="main-heading">
		<div>
			<span>Trader</span>
			<div class="user-settings">
				<span class="area">Ett system för trading</span>
			</div>
		</div>
	</div>
	<div class="nav-supp cf">
				<!--Start helplinks-->
				
		<h2 class="structural">Hjälplänkar</h2>
		<ul>
			<li>
				<a th:href="@{/settings}">Inställningar</a>	
			</li>
		</ul>
	</div>
</div>