<!DOCTYPE html>

<html lang="sv" class="js" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8" />
<head th:include="head" th:remove="tag" />

<body>
	<div th:include="header" th:remove="tag"></div>
	
	<div class="container">
		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
		<ul class="nav nav-pills">
		  <li class="nav-item">
		    <a class="nav-link active" href="/DayTrader/shares/">Mina aktier</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/DayTrader/settings">Mina uppgifter</a>
		  </li>
		</ul>
	</div>
	<hr />
	<div class="container">
		<h2>Mina aktier</h2>
		<p>Nedan listas de aktier som du handlar med</p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Namn</th>
					<th>Senaste värdet</th>
					<th>Antal innehav</th>
					<th>Innehavets värde</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>ACAN-B.ST</td>
					<td>Acando B</td>
					<td>25,50</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>CATE.ST</td>
					<td>Catena</td>
					<td>50,50</td>
					<td>1</td>
					<td>4870</td>
				</tr>
				<tr>
					<td>GUNN.ST</td>
					<td>Gunnebo</td>
					<td>75,50</td>
					<td>1</td>
					<td>5310</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" href="#" role="button">Lägg till aktie »</a>
		<hr />		
	</div>
	<div th:include="footer" th:remove="tag" />
</body>
</html>