<!DOCTYPE html>

<html lang="sv" class="js" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8" />
<head th:include="head" th:remove="tag" />

<body>
	<div th:include="header" th:remove="tag"></div>
	<div class="container">
		<h2>Mina sidor</h2>
		<hr />
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link active"
				th:href="@{/user/myshares}">Min portfölj</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/user/account}">Mina uppgifter</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/user/allstocks}">Alla aktier</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/user/historytest}">Historiktest</a></li>
		</ul>
	</div>
	<hr />
	<div class="container">
		<div th:if="${error}" class="alert alert-danger">
            <span th:text="${error}">Test</span>
        </div>
		<h3>Lägg till aktie i din portfölj</h3>
		<form th:action="@{/user/addshare}" th:object="${order}" method="post">
			<div class="form-group">
				<p class="field-error-message" th:if="${#fields.hasErrors('shareId')}" th:errors="*{shareId}"></p>
	  			<label for="stock">Välj aktie:</label>
	  			<select class="form-control" id="stock" th:field="${order.shareId}" >
	  				<option th:each="share : ${allShares}" th:value="${share.id}" th:text="${share.description}">Volvo</option>
				</select>
			</div>
						
			<div class="form-group">
				<p class="field-error-message" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></p>
				<label for="amount">Köpbelopp:</label> 
				<input type="number" class="form-control" id="amount" th:field="${order.amount}"/>
			</div>
			<div class="form-group">
				<p class="field-error-message" th:if="${#fields.hasErrors('strategyId')}" th:errors="*{strategyId}"></p>
	  			<label for="strategy">Välj strategi:</label>
	  			<select class="form-control" id="stock" th:field="${order.strategyId}">
	  				<option th:each="strategy : ${allStrategies}" th:value="${strategy.id}" th:text="${strategy.description}">Kortsiktig</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Lägg till</button>
		</form>
	</div>
	<div th:include="footer" th:remove="tag" />
</body>
</html>