<!DOCTYPE html>

<html lang="sv" class="js" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8" />
<head th:include="head" th:remove="tag" />

<body>
	<div th:include="header" th:remove="tag"></div>
	<div class="container">
		<h2>Mina sidor</h2>
		<hr />
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link"
				th:href="@{/user/myshares}">Min portfölj</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/user/account}">Mina uppgifter</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/user/allstocks}">Alla aktier</a></li>
			<li class="nav-item"><a class="nav-link active"
				th:href="@{/user/backtest}">Historiktest</a></li>
		</ul>
	</div>
	<hr />
	<div class="container">
		<div class="row">
			<div class="col">	
				<h3>Historiktest</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-4">	
				<h4>Inmatning</h4>		
				<form th:action="@{/user/backtest}" th:object="${backTestInput}"
					method="post">
					<div class="form-group">
						<p class="field-error-message"
							th:if="${#fields.hasErrors('startDate')}"
							th:errors="*{startDate}"></p>
						<label class="control-label" for="startdate">Startdatum:</label> <input
							type="date" class="form-control" id="startdate"
							th:field="${backTestInput.startDate}" />
					</div>
					<div class="form-group">
						<p class="field-error-message"
							th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>
						<label class="control-label" for="enddate">Slutdatum:</label> <input
							type="date" class="form-control" id="enddate"
							th:field="${backTestInput.endDate}" />
					</div>
					<div class="form-group">
						<p class="field-error-message"
							th:if="${#fields.hasErrors('shareId')}" th:errors="*{shareId}"></p>
						<label for="shareId">Välj aktie:</label> <select
							class="form-control" id="shareId"
							th:field="${backTestInput.shareId}">
							<option th:each="share : ${allShares}" th:value="${share.id}"
								th:text="${share.description}">Volvo</option>
						</select>

					</div>
					<div class="form-group">
						<p class="field-error-message"
							th:if="${#fields.hasErrors('strategyId')}"
							th:errors="*{strategyId}"></p>
						<label for="strategy">Välj strategi:</label> <select
							class="form-control" id="strategyId"
							th:field="${backTestInput.strategyId}">
							<option th:each="strategy : ${allStrategies}"
								th:value="${strategy.id}" th:text="${strategy.description}">Kortsiktig</option>
						</select>
					</div>
					<div class="form-group">
						<p class="field-error-message"
							th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></p>
						<label for="amount">Köpbelopp:</label> <input type="number"
							class="form-control" id="amount" th:field="*{amount}" />
					</div>

					<button type="submit" class="btn btn-primary">Kör</button>
				</form>
			</div>
			<div class="col-8">

				<div id="result" th:if="${backTestResult}">
					<h4>
						Resultat <span th:text="${backTestResult.profitPercentage}"></span>
					</h4>
					<h5>Värdeförändring</h5>
					<p>
						Startvärde: <span th:text="${backTestResult.startValue}"></span>
					</p>
					<p>
						Slutvärde: <span th:text="${backTestResult.endValue}"></span>
					</p>
					<p>
						Slutvärde tillg: <span
							th:text="${backTestResult.endValueAvailable}"></span>
					</p>
					<p>
						Slutvärde aktier: <span
							th:text="${backTestResult.endValueInStocks}"></span>
					</p>
					<p>
						Värdeförändring: <span th:text="${backTestResult.profitAmount}"></span>
						kr (<span th:text="${backTestResult.profitPercentage}"></span>)
					</p>



					<h5>Transaktioner</h5>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Tidpunkt</th>
								<th>Köp/Sälj</th>
								<th>Kurs</th>
								<th>Antal aktier</th>
								<th>Summa</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="transaction : ${backTestResult.transactions}">
								<td th:text="${transaction.transactionDate}">2018-05-21</td>
								<td th:text="${transaction.type}">Köp</td>
								<td th:text="${transaction.rate}">100</td>
								<td th:text="${transaction.noOfShares}">10</td>
								<td th:text="${transaction.amount}">100</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div th:include="footer" th:remove="tag" />
</body>
</html>