<!DOCTYPE html>

<html lang="sv" class="js" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8" />
<head th:include="head" th:remove="tag" />

<body>
	<div th:include="header" th:remove="tag"></div>
	<div class="container">
		<h2>Mina sidor</h2>
		<hr />
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link active"
				th:href="@{/user/mystocks}">Min portfölj</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/user/account}">Mina uppgifter</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/user/allstocks}">Alla aktier</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/user/historytest}">Historiktest</a></li>
		</ul>
	</div>
	<hr />
	<div class="container">
		<h3>Lägg till aktie i din portfölj</h3>
		<form action="">
			<div class="form-group">
	  			<label for="stock">Välj aktie:</label>
	  			<select class="form-control" id="stock">
	  				<option>Astra Zenica</option>
					<option>Volvo</option>
				    <option>ABB</option>
				</select>
			</div>
						
			<div class="form-group">
				<label for="amount">Köpbelopp:</label> <input type="number"
					class="form-control" id="amount" />
			</div>
			<div class="form-group">
	  			<label for="strategy">Välj strategi:</label>
	  			<select class="form-control" id="stock">
	  				<option>Defensiv</option>
					<option>Medel</option>
				    <option>Offensiv</option>
				</select>
			</div>
			<!-- 			
			<div class="checkbox">
				<label><input type="checkbox"/> Remember me</label>
			</div>
			 -->
			<button type="submit" class="btn btn-primary">Lägg till</button>
		</form>
	</div>
	<div th:include="footer" th:remove="tag" />
</body>
</html>