<!DOCTYPE html>

<html lang="sv" class="js" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8" />
<head th:include="head" th:remove="tag" />

<body>
	<div th:include="header" th:remove="tag"></div>	
	<div class="container">
		<h2>Mina sidor</h2>
		<hr />
		<ul class="nav nav-pills">
		  <li class="nav-item">
		    <a class="nav-link active" th:href="@{/user/myshares}">Min portfölj</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" th:href="@{/user/account}">Mina uppgifter</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" th:href="@{/user/allstocks}">Alla aktier</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" th:href="@{/user/backtest}">Historiktest</a>
		  </li>
		</ul>
	</div>
	<hr />
	<div class="container">		
		<h3>Mina aktier</h3>
		<table class="table table-striped table-responsive">
			<thead>
			
				<tr>
					<th>Id</th>
					<th>Namn</th>
					<th>Strategi</th>
					<th>Senaste värdet</th>
					<th>Antal aktier</th>
					<th>Innehavets värde</th>
					<th>Utveckling (Kr)</th>
					<th>Utveckling (%)</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="userShare : ${userShares}">
					<td><a th:text="${userShare.share.id}" th:href="@{/user/share/} + ${userShare.id}">TEST</a></td>					
					<td th:text="${userShare.share.description}">TEST</td>
					<td th:text="${userShare.strategy.description}">Defensiv</td>
					<td th:text="${userShare.lastShareValue}">10,50</td>
					<td th:text="${userShare.numberOfShares}">10</td>
					<td th:text="${userShare.holdingValue}">100</td>
					<td>10</td>
					<td>1000</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" th:href="@{/user/addshare}" role="button">Lägg till aktie »</a>
	</div>
	<div th:include="footer" th:remove="tag" />
</body>
</html>