<!DOCTYPE html>

<html lang="sv" class="js" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8" />
<head th:include="head" th:remove="tag" />

<body>
	<div th:include="header" th:remove="tag"></div>	
	<div class="container">
		<h2>Mina sidor</h2>
		<hr />
		<ul class="nav nav-pills">
		  <li class="nav-item">
		    <a class="nav-link active" th:href="@{/user/mystocks}">Min portfölj</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" th:href="@{/user/account}">Mina uppgifter</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" th:href="@{/user/allstocks}">Alla aktier</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" th:href="@{/user/historytest}">Historiktest</a>
		  </li>
		</ul>
	</div>
	<hr />
	<div class="container">		
		<h3>Mina aktier</h3>
		<table class="table table-striped table-responsive">
			<thead>
				<tr>
					<th>Id</th>
					<th>Namn</th>
					<th>Strategi</th>
					<th>Senaste värdet</th>
					<th>Antal aktier</th>
					<th>Innehavets värde</th>
					<th>Utveckling (Kr)</th>
					<th>Utveckling (%)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a th:href="@{/user/transactions}">ACAN-B.ST</a></td>
					<td>Acando B</td>
					<td>Defensiv</td>
					<td>25,50</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td><a th:href="@{/user/transactions}">CATE.ST</a></td>
					<td>Catena</td>
					<td>Medel</td>
					<td>50,50</td>
					<td>7</td>
					<td>4870</td>
					<td>-199</td>
					<td>-4,1</td>
				</tr>
				<tr>
					<td><a th:href="@{/user/transactions}">GUNN.ST</a></td>
					<td>Gunnebo</td>
					<td>Offensiv</td>
					<td>75,50</td>
					<td>10</td>
					<td>7550</td>
					<td>530</td>
					<td>10</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" th:href="@{/user/addstock}" role="button">Lägg till aktie »</a>
	</div>
	<div th:include="footer" th:remove="tag" />
</body>
</html>